<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcome to <i class="fas fa-book"></i><strong>Bookers</strong> !!</h1>
      <p>In <i class="fas fa-book"></i><strong>Bookers</strong>,</p>
      <p>you can share and exchange your opinions, inpressions, and emotions</p>
      <p>about various books!</p>
      <div class="btn-wrapper col-10 mx-auto">
        <% if user_signed_in? %>
        <div class="d-grid gap-2">
          <%= link_to user_path(current_user) do %>
            <button type="button" class="btn btn-info btn-sm btn-block mb-3">Log in</button>
          <% end %>
        </div>
        <div class="d-grid gap-2">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <button type="button" class="btn btn-success btn-sm btn-block mb-3">Log out</button>
          <% end %>
        </div>
        <% else %>
        <div class="d-grid gap-2">
          <%= link_to new_user_session_path do %>
            <button type="button" class="btn btn-info btn-sm btn-block mb-3">Log in</button>
          <% end %>
        </div>
        <div class="d-grid gap-2">
          <%= link_to new_user_registration_path do %>
            <button type="button" class="btn btn-success btn-sm btn-block mb-3">Sign up</button>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>